
<div class="complete">
  <img src="./img/bg04.jpg" >
  <div class="thanks-contact">
    <p><h1>お問い合わせありがとうございました。</h1></p>
    </br>
    <h3><p>ご記入いただきました連絡先宛にご回答差し上げますので、今しばらくお待ち下さい。</p></h3>
    </br>
    </br>
    <!-- <p>3秒後にtopページに自動でリダイレクトします。</p> -->
    <input class = "back_to" type="button" onClick="location.href='/ppo_okinawa'" value="戻る" style="font-family: meiryo;">
  </div>
</div>
