<!DOCTYPE HTML>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="keywords" content="サイトをキーワードで説明">
  <meta name="description" content="どんなサイトかを短い文章で説明">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
  <link rel="icon" href="favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" media="screen and ( min-width: 769px)" href="css/ppo.css">
  <link rel="stylesheet" type="text/css" media="screen and ( max-width: 768px)" href="css/ppo_sp.css">

  <title>パイナップルパーティーオキナワ新商品紹介</title>
  <link href="./js/jquery.bxslider/jquery.bxslider.css" rel="stylesheet" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script type="text/javascript" src="./js/ppo.js"></script><!--古いバージョン読み込み-->
<!--  -->
    <title><%= @title %></title>
</head>
<body>
  <%= yield %>
</body>

</html>



