<div class="preloader">
		<!-- <img src="img/PP_011.jpg" alt="Preloader image"> -->
</div>
  <header>
    <h1><img src="img/menu/icon_PPO.png" alt="パイナップルパーティーオキナワ"></h1>
      <!-- <div class="header-title">
        <a class="header-logo"><img src="img/menu/icon_PPO.png"></a>
      </div> -->
      <nav class="header-menu">
          <ul class="header-menu-right">
          <li>
            <a href="#"><img src="./img/menu/icon_top.png"></a>
          </li>
          <li>
            <a href="#"><img src="./img/menu/icon_about.png"></a>
          </li>
          <li>
            <a href="#"><img src="./img/menu/icon_lineup.png"></a>
          </li>
          <li>
            <a href="#"><img src="./img/menu/icon_kodawari.png"></a>
          </li>
          <li>
            <a href="#"><img src="./img/menu/icon_shop.png"></a>
          </li>
          <li>
            <a href="#"><img src="./img/menu/icon_contact.png"></a>
          </li>
        </ul>
      </nav>
  </header>

  <section class="contact" id="sec5">
     <div class="contact-wrapper">
  　　　<div class="contact-container">
          <h3>CONTACT</h3>
            <form class= "contact-list"action="/new" method="post">
              <p class = "form">お名前 (*必須)　:<input type="text" name="name" placeholder="お名前"></p>
              <p class = "form">e-mailアドレス (*必須)　:<input type="text" name="email" placeholder="e-mail"></p>
              <p class = "form">お電話番号 (*必須)　:<input type="text" name="tele" placeholder="お電話番号"></p>
              <p class = "form">ご住所　:<input type="text" name="address" placeholder="ご住所"></p>
              <p class = "form">お問い合わせ内容 (*必須)　:<input type="text" name="body" placeholder="お問い合わせ内容"></p>
              <p class = "form"><input type="submit" value="送信"></p>
            </form>
        </div>
      </div>
  </section>

  <!--TOP CONTENT-->
  <article>
    <section class="top" id="sec0">
    </section>
    <section class="about" id="sec1">
      <h2>キャッチコピー</h2>
      <div class="aboutpic">
        <img src="img/0625.jpg">
      </div>
      <p>aaaaaaaaaaaaaaaaaa<br />
      aaaaaaaaaaaaaaaaaaaaaaa<br />
      aaaaaaaaaaaaaaaaaaaaaa</p>
    </section>


    <!--商品ラインアップ-->
    <section class="lineup" id="sec2">
      <div class="section-title">
        <h3>LINEUP</h3>
      </div>
        <div class="icon">
          <h4>PINAPPLE FINANCIER</h4>
          <div class="financier">
            <a class="financier-logo"><img scr="img/financier.png"></a>
          </div>
          <p>
            パイナップルの形をした可愛いフィナンシェです。<br />
            表面は、カリカリに、中はしっと り焼き上げ、<br />
            沖縄県産のピューレ（100％）使用した、トロピカルな風味が特徴のお菓 子です。
          </p>
        </div>
        <div class="icon">
          <img scr="">
          <h4>PINAPPLE MINICAKE</h4>
          <p>
            ミニサイズの可愛いしっとりとしたミニケーキです。<br />
            表面には南国らしい模様を アクセントにいれました。<br />
            パイナップルの果肉を入れたフルーティーなパインケーキ です。
          </p>
        </div>
        <div class="icon">
          <img scr="">
          <h4>PINAPPLE CRUNCH CHOCO</h4>
          <p>
            南国をイメージしたドライフルーツ（パイナップル、マンゴー、オレンジ）を使用し<br />
            酸味のきいたサクサク食感のトロピカルなチョコレートクランチです。
          </p>
        </div>
     <!-- </div> -->
    <!--こだわり-->
    <section class="kodawari" id="sec3">
      <div class="section-title">
        <h3>KODAWARI</h3>
      </div>
      <ul>
        <li>沖縄県産のピューレ（100％）使用</li>
        <li>一口サイズで食べやすい</li>
        <li>トロピカルでおしゃれなパッケージ</li>
      </ul>
     <!-- </div> -->

    <!--ショップリスト-->
    <section class="shoplist" id="sec4">
    <div class="section-title">
      <h3>SHOP LIST</h3>
        <p>那覇空港内　リウボウ商事ANA店</p>
        <p>国際通り　ハピナハ店</p>
        <p>パレット久茂地　１階銘店街</p>
        <p>リウボウ　TOMITON店</p>
    </div>
  <!-- </div> -->

    <!--お問い合わせ-->
    <section class="contact" id="sec5">
       <div class="contact-wrapper">
    　　　<div class="contact-container">
            <h3>CONTACT</h3>
              <form class= "contact-list"action="/new" method="post">
                <p class = "form">お名前 (*必須)　:<input type="text" name="name" placeholder="お名前"></p>
                <p class = "form">e-mailアドレス (*必須)　:<input type="text" name="email" placeholder="e-mail"></p>
                <p class = "form">お電話番号 (*必須)　:<input type="text" name="tele" placeholder="お電話番号"></p>
                <p class = "form">ご住所　:<input type="text" name="address" placeholder="ご住所"></p>
                <p class = "form">お問い合わせ内容 (*必須)　:<input type="text" name="body" placeholder="お問い合わせ内容"></p>
                <p class = "form"><input type="submit" value="送信"></p>
              </form>
          </div>
        </div>
    </section>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(".form").hover(
          function() {
            $(this).fadeIn();

        });

        $("")
    </script> -->

</article>


  <footer>
    <p class="copyright">Copyright &copy; DEMO all rights reserved.</p>
  </footer>
