<div id="loader-bg">
  <div id="loader">
    <img id="loader-img" src="img/logo_yellow.png">
    <img id="loader-name-img" src="img/logo_name.png">
  </div>
</div>

<!-- logo_yellow.png -->
<div id="container">
  <header>
    <a href="#sec0"><img src="img/menu/icon_PPO.png" alt="パイナップルパーティーオキナワ"></a>
    <span class="fa fa-bars menu-icon"></span>
    <ul class="header-menu-right">
      <li><a href="#sec0"><img src="img/menu/icon_top.png"></a></li>
      <li><a href="#sec1"><img src="img/menu/icon_about.png"></a></li>
      <li><a href="#sec2"><img src="img/menu/icon_lineup.png"></a></li>
      <li><a href="#sec3"><img src="img/menu/icon_kodawari.png"></a></li>
      <li><a href="#sec4"><img src="img/menu/icon_shop.png"></a></li>
      <li><a href="#sec5"><img src="img/menu/icon_contact.png"></a></li>
    </ul>

  </header>

  <!--TOP CONTENT-->
  <article>
    <!--フェードイン設定１-->
    <section class="top" id="sec0">
      <!-- <li><img class="ppo_name" src="img/PPO.jpg"></li> -->
    </section>
    <!--試し途中 2枚目のスライドイン -->
    <!-- <section class="top" id="sec0">
    <li><img class="ppo_name" src="img/画像素杁EPINEAPPLE_PARTY_OKINAWA.png"></li>
    <li><img class="ppo_name" src="img/画像素杁EPINEAPPLE_PARTY_OKINAWA.png"></li>
    <li><img class="ppo_name" src="img/画像素杁EPINEAPPLE_PARTY_OKINAWA.png"></li>
  </section> -->

  <!--About-->
  <section class="about" id="sec1">
    <div class="section-title">
      <img src="img/menu/about.png">
    </div>
    <div class="aboutpic">
      <p class="text">青い空、青い海。</br>
        燦々と照らす太陽のもと</br>
        のびのびと育った県産パイナップルを</br>
        ふんだんに使用<br />
        沖縄の想い出とともに</br>
        たくさんの人に愛されてほしい</br>
        そんな想いをぎゅっとつめこんだお菓子が</br>
        パイナップルパーティーオキナワシリーズとして</br>登場です
      </p>
      <img src="img/pinapple.jpg">

    </div>
  </section>


  <!--玉城編集 カーソル乗ったらスライドインcss -->
  <!--商品ラインアップ-->
  <section class="lineup" id="sec2">
    <div class="section-title">
      <img src="img/menu/lineup.png">
    </div>
    <div class="contents-wrap left-up-to-down">
      <figure class="f" >
        <img src="img/financier.png"alt="" />
        <figcaption>
          <img src="img/lineup_nakami_f.png"alt=""/>
        </figcaption>
      </figure>
      <ul class="list-1">
        <li class="list-mv05"><div class="financier-text">
          <h4>PINAPPLE FINANCIER</h4>
          <p>
            パイナップルの形をした可愛いフィナンシェです。
            表面は、カリカリに、中はしっとり焼き上げ、
            沖縄県産のピューレ（100％）使用した、トロピカルな風味が特徴のお菓子です。<br/>
            フィナンシェ：16個、9個、6個</p>
          </div></li>
        </ul>
      </div>
      <div class="contents-wrap right-up-to-down">
        <figure  class="m" >
          <img src="img/minicake.png"alt=""/>
          <figcaption class="m">
            <img src="img/lineup_nakami_m.png"alt=""/>
          </figcaption>
        </figure>
        <ul class="list-1">
          <li class="list-mv05"><div class="minicake-text">
            <h4>PINAPPLE MINICAKE</h4>
            <p>ミニサイズの可愛いしっとりとしたミニケーキです。
              表面には南国らしい模様を アクセントにいれました。
              パイナップルの果肉を入れたフルーティーなパインケーキです。
              <br/>ミニケーキ：18個、12個、6個</p>
            </div></li>
          </ul>
        </div>
        <div class="contents-wrap left-up-to-down">
          <figure class="f" >
            <img src="img/crunch.png"alt=""/>
            <figcaption>
              <img src="img/lineup_nakami_c.png"alt="" />
            </figcaption>
          </figure>
          <ul class="list-1">
            <li class="list-mv05">
              <div class="financier-text">
                <h4>PINAPPLE CRUNCH CHOCO</h4>
                <p>南国をイメージしたドライフルーツ（パイナップル、マンゴー、オレンジ）を使用し
                  酸味のきいたサクサク食感のトロピカルなチョコレートクランチです。
                  <br/>クランチ：15個</p>
                </div>
              </li>
            </ul>
          </div>


        </section>


        <!--スマホでクリック表示  -->
        <div id="acMenu">
          <dl>
            <dt><img src="img/financier.png"alt="" /></dt>
            <dd class="ac"><img src="img/lineup_nakami_f.png"alt=""/></dd>
          </dl>
          <div class="text">
            <h4>PINAPPLE FINANCIER</h4>
            <p>
              パイナップルの形をした可愛いフィナンシェです。
              表面は、カリカリに、中はしっとり焼き上げ、
              沖縄県産のピューレ（100％）使用した、トロピカルな風味が特徴のお菓子です。<br/>
              フィナンシェ：16個、9個、6個</p>
            </div>
            <dl class="mini">
              <dt><img src="img/minicake.png"alt=""/></dt>
              <dd class="ac"><img src="img/lineup_nakami_m.png"alt=""/></dd>
            </dl>
            <div class="text">
              <h4>PINAPPLE MINICAKE</h4>
              <p>ミニサイズの可愛いしっとりとしたミニケーキです。
                表面には南国らしい模様を アクセントにいれました。
                パイナップルの果肉を入れたフルーティーなパインケーキです。
                <br/>ミニケーキ：18個、12個、6個</p>
              </div>
              <dl>
                <dt><img src="img/crunch.png"alt=""/></dt>
                <dd class="ac"><img src="img/lineup_nakami_c.png"alt=""/></dd>
              </dl>
              <div class="text">
                <h4>PINAPPLE CRUNCH CHOCO</h4>
                <p>南国をイメージしたドライフルーツ（パイナップル、マンゴー、オレンジ）を使用し
                  酸味のきいたサクサク食感のトロピカルなチョコレートクランチです。
                  <br/>クランチ：15個</p>
                </div>
              </div>
              <!-- スマホでクリック表示ここまで  -->


              <!--こだわり-->
              <section class="kodawari-wrapper" id="sec3">
                <div class="container">
                  <div class="section-title">
                    <img src="img/menu/kodawari.png"><!--h2削除-->
                  </div>
                  <img class="wagiri" src="img/wagiri.png">
                  <img class="wagiri" src="img/wagiri.png">
                  <img class="wagiri" src="img/wagiri.png">
                  <img class="wagiri" src="img/wagiri.png">
                  <img class="wagiri" src="img/wagiri.png">
                  <img class="wagiri" src="img/wagiri.png">
                  <img class="wagiri" src="img/wagiri.png">
                  <img class="wagiri" src="img/wagiri.png">
                  <img class="wagiri" src="img/wagiri.png">

                  <div class="kodawari">
                    <div class="kodawari-list">
                      <div class="kodawari-icon">
                        <img src="img/kodawari1.jpg">
                      </div>
                      <p class="txt-contents">県産パイナップルピューレ使用</p>
                    </div>
                    <div class="kodawari-list">
                      <div class="kodawari-icon">
                        <img src="img/kodawari2.png">
                      </div>
                      <p class="txt-contents">食べやすい一口サイズ</p>
                    </div>
                    <div class="kodawari-list">
                      <div class="kodawari-icon">
                        <img src="img/kodawari3.png">
                      </div>
                      <p class="txt-contents">トロピカルでレトロなパッケージ</p>
                    </div>
                  </div>

                  <img class="wagiri" src="img/wagiri.png">
                  <img class="wagiri" src="img/wagiri.png">
                  <img class="wagiri" src="img/wagiri.png">
                  <img class="wagiri" src="img/wagiri.png">
                  <img class="wagiri" src="img/wagiri.png">
                  <img class="wagiri" src="img/wagiri.png">
                  <img class="wagiri" src="img/wagiri.png">
                  <img class="wagiri" src="img/wagiri.png">
                  <img class="wagiri" src="img/wagiri.png">

                </div>
              </section>

              <!--ショップリスト-->
              <section class="shoplist" id="sec4">
                <div class="shirowaku">
                  <div class="section-title">
                    <img src="img/menu/shoplist.png">
                  </div>
                  <div class="list">
                    <img class="shop-img" src="img/shop_01.jpg">
                    <div class="shop-right">
                      <h3 class="tenpo"> 【那覇空港内　リウボウ商事ANA店】</h3>
                      <p class="address">住所 〒901-0142 沖縄県那覇市鏡水150 那覇空港ビルディング内2F
                        <br>TEL 098-859-1565
                        <br>営業時間　6:30～20:30</p>
                      </div>
                    </div>
                    <div class="list">
                      <img class="shop-img" src="img/shop_02.jpg">
                      <div class="shop-right">
                        <h3 class="tenpo"> 【国際通り　ハピナハ店】</h3>
                        <p class="address">住所 〒900-0013 沖縄県那覇市牧志2-2-30
                          <br>TEL 098-862-5111
                          <br>営業時間　10:00～22:00</p>
                        </div>
                      </div>
                      <div class="list">
                        <img class="shop-img" src="img/shop_03.jpg">
                        <div class="shop-right">
                          <h3 class="tenpo"> 【パレット久茂地　１階銘店街】</h3>
                          <p class="address">住所 〒900-0015　沖縄県那覇市久茂地1-1-1
                            <br>TEL 098-867-1171
                            <br>営業時間　10:00～21:00</p>
                          </div>
                        </div>
                        <div class="list">
                          <img class="shop-img" src="img/shop_04.jpg">
                          <div class="shop-right">
                            <h3 class="tenpo"> 【リウボウ　TOMITON店】</h3>
                            <p class="address">住所 〒901-0225 沖縄県豊見城市豊崎１−４１１
                              <br>TEL 098-891-7700
                              <br>営業時間　10:00～22:00</p>
                            </div>
                          </div>
                        </div>

                        <!-- ----------------------------------------------- -->
                        <!--お問い合わせ-->
                        <!-- <section  id ='sec5'> 背景が同じなのでsec4で-->
                        <div class="contact-wrapper" id ="sec5">
                          <h1><span  style="border-bottom: solid 1px black;"><b>お問い合わせ</b></span></h1>

                          <div class="contact-container">
                            <form class= "contact-list" action="/new" method="post">
                              <p id ="contact-first">お名前(漢字)  <span class="ess">*必須 :</span></p>
                              <input class="form" type="text" name="name_kj" style="font-size: 18px;" placeholder="漢字名"><span class="arrow_box arrow-form">漢字で入力してください</span>
                              <p>お名前(カタカナ)  <span class="ess">*必須 :</span></p>
                              <input class="form" type="text" name="name_kt" style="font-size: 18px;" placeholder="カタカナ名"><span class="arrow_box arrow-form">カタカナで入力してください</span>
                              <p>e-mailアドレス <span class="ess">*必須 :</span></p>
                              <input class="form" type="text" name="email" style="font-size: 18px;" placeholder="e-mail"><span class="arrow_box arrow-form">@example.comで入力してください</span>
                              <p>お電話番号 <span class="ess" >*必須 :</span></p>
                              <input class="form" type="text" name="tele" style="font-size: 18px;" placeholder="お電話番号"><span class="arrow_box arrow-form">数字(ハイフンなし)で入力してください</span>
                              <p>お問い合わせ内容 <span class="ess">*必須 :</span></p>
                              <textarea id = "text-form" name="body" rows="10" cols="30" style="font-size:20px;"></textarea>
                              <input id ="contact-button" type="submit" value="送信する" style="font-size:20px;">
                            </form>
                          </div>
                        </div>
                      </section>
                    </article>

<!-- <input id = "text-form" type="text" name="body" placeholder="お問い合わせ内容"></span> -->


    <footer>
      <div class="container">
        <div class="follow-us">
          <a href="https://www.facebook.com" class="social-icon" target='_blank'>
            <span class="fa fa-facebook"></span>
          </a>
          <a href="https://twitter.com" class="social-icon" target='_blank'>
            <span class="fa fa-twitter"></span>
          </a>
        </div>
        <p class="copyright">Copyright &copy; DEMO all rights reserved.</p>
      </div>
    </footer>


  </div>
